@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    ViewData["BodyClass"] = "smallForm";
}

@inject Admin.Services.Profile.ProfileManager ProfileManager

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div class="box">
                <form asp-antiforgery="true"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-success="ajaxOnSuccess">

                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="Input.CurrentPassword"></label>
                            <input asp-for="Input.CurrentPassword" class="form-control" />
                            <span asp-validation-for="Input.CurrentPassword" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                            <span asp-validation-for="Input.NewPassword" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.ConfirmNewPassword"></label>
                            <input asp-for="Input.ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmNewPassword" class="help-block"></span>
                        </div>
                    </div>
                    <div class="box-footer text-left">
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>