@page
@model ErrorModel

@inject SharedLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("Error");
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<h2>@localizer.Get("Error Description")</h2>

