@page "{handler}/Page-{pageNumber=1}/{id?}/{slug?}"

@model WebApp.Pages.Blog.ListModel

@inject SharedLocalizationService localizer

@{
    var lang = HttpContext.CurrentLanguage();
}

<main id="main">
    @await Html.PartialAsync("_BreadCrumbs")

    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    @foreach (var item in Model.Contents)
                    {
                        @await Html.PartialAsync("_BlogListItem", item)
                    }

                    <div class="blog-pagination">

                        @Html.Pagination(
                        Model.Contents,
                        current => Url.Page("List", new { culture = lang, handler = Model.RequestHandler, pageNumber = current, id = Model.RequestId, slug = Model.RequestSlug }),
                        PaginatedStyle.NumbersWithFirstPreviousNextLast,
                        new PaginatedOptions
                        {
                            NextLabel = localizer.Get("Next"),
                            PreviousLabel = localizer.Get("Prev"),
                            FirstLabel = localizer.Get("First"),
                            LastLabel = localizer.Get("Last")
                        }
                    )
                    </div>
                </div>

                @await Html.PartialAsync("_BlogSidebar")

            </div>
        </div>
    </section>
</main>