@page "{query}/Page-{pageNumber=1}"

@model WebApp.Pages.Blog.SearchModel

@inject SharedLocalizationService localizer

@{
    var lang = HttpContext.CurrentLanguage();

    ViewData["PageHeading"] = string.Format(localizer.Get("Search For"), Model.RequestQuery);
    ViewData["BreadCrumbTitle"] = localizer.Get("Search");
    ViewData["BreadCrumb"] = new List<BreadCrumbDto> { new BreadCrumbDto { Text = localizer.Get("Blog"), Href = Url.Page("List", "All", new { culture = lang }) } };
}

<main id="main">
    @await Html.PartialAsync("_BreadCrumbs")

    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <p class="font-125 alert alert-secondary text-center mt-5">@Model.ErrorMessage</p>
                    }
                    else
                    {
                        foreach (var item in Model.Contents)
                        {
                            @await Html.PartialAsync("_BlogListItem", item)
                        }

                        <div class="blog-pagination">
                            @Html.Pagination(
                            Model.Contents,
                            current => Url.Page("Search", new { culture = lang, pageNumber = current, query = Model.RequestQuery }),
                            PaginatedStyle.NumbersWithFirstPreviousNextLast,
                            new PaginatedOptions
                            {
                                NextLabel = localizer.Get("Next"),
                                PreviousLabel = localizer.Get("Prev"),
                                FirstLabel = localizer.Get("First"),
                                LastLabel = localizer.Get("Last")
                            })
                        </div>
                    }

                </div>

                @await Html.PartialAsync("_BlogSidebar")

            </div>
        </div>
    </section>
</main>