@font-face {
    font-family: "BYekan";
    src: url("/panel_assets/fonts/BYekan.eot");
    src: local("☺"),url("/panel_assets/fonts/BYekan.woff") format("woff"),url("/panel_assets/fonts/BYekan.ttf") format("truetype")
}

@media print {
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: 'BYekan';
    font-size: 16px;
    line-height: 26px;
}

.login-logo {
    font-family: 'BYekan';
}

.btn-social {
    padding-right: 50px;
    padding-left: 0;
    text-align: right;

    & > :first-child {
        right: 0;
        border-left: 1px solid rgba(0,0,0,0.2);
        left: initial;
        border-right: none;
        width: 38px;
    }
}

.validation-summary-errors {
    background: #ffe8e8;
    text-align: right;
    padding: .5rem;
    border-radius: 3px;
    font-size: .9rem;
    color: #9a0a18 !important;
    margin-top: 1rem !important;

    ul {
        margin: 0;
    }
}