@page

@model EditModel

@{
    ViewData["Title"] = "ویرایش دسته";
    ViewData["BreadCrumb"] = new List<BreadCrumbDto> { new BreadCrumbDto { Text = "دسته ها", Href = Url.Page("Index") } };
    ViewData["BodyClass"] = "smallForm";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div class="box">
                <form asp-antiforgery="true"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-success="ajaxOnSuccess"
                      onsubmit="return save()">

                    <input type="hidden" asp-for="Input.Id" />

                    <input type="hidden" asp-for="Input.Names" />

                    <div class="box-body">

                        <table class="table menu">
                            <thead class="text-center">
                                <tr>
                                    <th>زبان</th>
                                    <th>نام</th>
                                </tr>
                            </thead>
                            <tbody id="member-container" class="text-center"></tbody>
                        </table>

                        <div class="form-group">
                            <label asp-for="Input.ParentId"></label>
                            <select asp-for="Input.ParentId"
                                    data-url="?handler=List&id=@Model.Input.Id"
                                    class="form-control select2 ajax-load"
                                    style="width: 100%;">
                                @if (Model.Input.ParentId.HasValue)
                                {
                                    <option value="@Model.Input.ParentId">@Model.Input.ParentName</option>
                                }
                                else
                                {
                                    <option value="">انتخاب کنید</option>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" asp-for="Input.IsActive">
                                <label class="custom-control-label" asp-for="Input.IsActive"></label>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-left">
                        <button type="submit" class="btn btn-primary">تایید</button>
                        <a asp-page="Index" class="btn btn-default">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var prevTranslations = @Html.Raw(Json.Serialize(Model.Input.Translations));
    </script>
    <script src="~/libs/select2/js/select2.min.js"></script>
    <script src="~/libs/handlebars.js/handlebars.min.js"></script>
    <script src="~/panel_assets/js/pages/categories/create.min.js"></script>

    <script id="entry-template" type="text/x-handlebars-template">
        <tr data-lang="{{id}}">
            <td>{{text}}</td>
            <td><input type="text" name="Title" class="form-control" /></td>
        </tr>
    </script>
}
@section Styles{
    <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" />
}
