@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "شما به این صفحه دسترسی ندارید";
}

<div class="login-box-body">
    <p class="login-box-msg">
        شما به این صفحه دسترسی ندارید. <br />
        لطفا <a asp-page="./Login">برای ورود به پنل کلیک کنید</a>.
    </p>
</div>


