@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "ایمیل بازیابی ارسال شد";
}

<div class="login-box-body">
    <p class="login-box-msg">یک ایمیل برای شما ارسال شد. لطفا صندوق پیامها و پوشه اسپم را بررسی کنید.</p>
</div>

    
