@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "رمز عبور خود را فراموش کرده اید؟";
}

<div class="login-box-body">
    <p class="login-box-msg">ایمیل خود را وارد کنید</p>
    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            <input asp-for="Input.Email" type="email" class="form-control">
        </div>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">بازیابی رمز عبور</button>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
    <br />
    <div class="text-center mt-3">
        <a asp-page="./Login">ورود با رمز فعلی</a><br>
    </div>
</div>
