@page
@model LockoutModel
@{
    ViewData["Title"] = "قطع دسترسی";
}

<div class="login-box-body">
    <p class="login-box-msg text-danger">
        دسترسی حساب کاربری شما قطع شده است،<br /> لطفا با مدیر سایت تماس بگیرید.
    </p>
    <p class="login-box-msg">
        <a asp-page="./Login">برای ورود مجدد به پنل کلیک کنید</a>.
    </p>
</div>


