@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "رمز عبور تغییر کرد";
}

<div class="login-box-body">
    <p class="login-box-msg">
        رمز عبور شما با موفقیت تغییر داده شد. <br />
        لطفا <a asp-page="./Login">برای ورود به پنل کلیک کنید</a>.
    </p>
</div>
