@page

@model CreateModel

@{
    ViewData["Title"] = "ایجاد صفحه";
    ViewData["BreadCrumb"] = new List<BreadCrumbDto> { new BreadCrumbDto { Text = "صفحه ها", Href = Url.Page("Index") } };
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div class="box">
                <form asp-antiforgery="true"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-success="ajaxOnSuccess">

                    <div class="box-body">

                        <div class="form-group">
                            <label asp-for="Input.Language"></label>
                            <select asp-for="Input.Language"
                                    data-url="/admin/Languages?handler=List"
                                    class="form-control select2 ajax-load"
                                    style="width: 100%;">
                                <option value="">انتخاب کنید</option>
                            </select>
                            <span asp-validation-for="Input.Language" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Keyword"></label>
                            <input asp-for="Input.Keyword" class="form-control" />
                            <span asp-validation-for="Input.Keyword" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Title"></label>
                            <input asp-for="Input.Title" class="form-control" />
                            <span asp-validation-for="Input.Title" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Summary"></label>
                            <textarea asp-for="Input.Summary" class="form-control"></textarea>
                            <span asp-validation-for="Input.Summary" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Body"></label>
                            <textarea class="summernote" asp-for="Input.Body"></textarea>
                            <span asp-validation-for="Input.Body" class="help-block"></span>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" asp-for="Input.IsActive">
                                <label class="custom-control-label" asp-for="Input.IsActive"></label>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-left">
                        <button type="submit" class="btn btn-primary">تایید</button>
                        <a asp-page="Index" class="btn btn-default">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/libs/select2/js/select2.min.js"></script>
    <script src="~/libs/summernote/summernote-bs4.min.js"></script>
 }
@section Styles{ 
    <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/libs/summernote/summernote-bs4.min.css" rel="stylesheet" />
}
