@using Core.Dtos.MenuDtos
@model MenuDetailsDto

@if (Model != null && Model.MenuMembers != null)
{
    var pageMembers = Model.MenuMembers.Where(m => m.TargetType == MenuMemberTargetType.Page && m.Page != null);
    if (pageMembers.Any())
    {
        <section id="featured" class="featured">
            <div class="container">
                <div class="row">
                    @foreach (var member in pageMembers)
                    {
                        if (member.Page != null)
                        {
                            @await Component.InvokeAsync("FeaturedCard", new { member.Page.Keyword })
                        }
                    }
                </div>
            </div>
        </section>
    }

}